<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CalculatorTestSuite" parallel="methods">
    <test name="CalculatorTests">
        <groups>
            <run>
                <include name = "smoke"/>
                <include name="regression"/>
            </run>
        </groups>
        <classes>
            <class name="org.example.MyFunctionalityTest"/>
        </classes>
    </test>
</suite>
